<!-- <div class="card border-danger mb-3 w-auto" >
  <div class="card-header" style="font-size: 25px;"><strong>Impacto y alcance de la Porcinaza</strong></div>
  <div class="card-body text-danger">
    <ul>
      <li>
        <p class="card-text" style="font-size: 25px;">Contaminación de fuentes y recursos hídricos por mal manejo de residuos organicos.</p>
      </li>
      <li>
        <p class="card-text" style="font-size: 25px;">Inexistencia de biodigestores en las granjas.</p>
      </li>
      <li>
        <p class="card-text" style="font-size: 25px;">Desperdicio de recursos organicos aprovechables (Gas, Abono y Energía).</p>
      </li>
      <li>
        <p class="card-text" style="font-size: 25px;">Emisiones de gases de efecto invernadero.</p>
      </li>
    </ul>
    <img src="../../../assets/imagenes/porcinaza.png" alt="porcinaza" class="img-fluid d-block mx-auto">
  </div>
</div> -->

<ul>
  <li>
    <p class="card-text" style="font-size: 25px; font-size: 25px;">Contaminación de fuentes y recursos hídricos por mal manejo de residuos organicos.</p>
  </li>
  <li>
    <p class="card-text" style="font-size: 25px;">Inexistencia de biodigestores en las granjas.</p>
  </li>
  <li>
    <p class="card-text" style="font-size: 25px;">Desperdicio de recursos organicos aprovechables (Gas, Abono y Energía).</p>
  </li>
  <li>
    <p class="card-text" style="font-size: 25px;">Emisiones de gases de efecto invernadero.</p>
  </li>
</ul>
<div style="display: flex; gap: 10px;">
  <img src="../../../assets/imagenes/porcinaza.png" alt="porcinaza" class="img-fluid d-block mx-auto">
  <img src="../../../assets/imagenes/biodigestor.png" alt="porcinaza" class="img-fluid d-block mx-auto">
</div>

<hr><br>
<h2><strong>Contaminacion porcina al medio ambiente</strong></h2>
<div style="display: flex; gap: 10px;" class="zoom-container">
  <img src="../../../assets/imagenes/rio contaminado.jpg" alt="porcinaza" class="img-fluid d-block mx-auto">
  <img src="../../../assets/imagenes/GEI porcicultura.jpg" alt="porcinaza" class="img-fluid d-block mx-auto">
</div>


