<div>
  <h2><strong>Impacto y alcance de la Porcinaza</strong></h2>
  <ul>
    <li>
      <p style="font-size: 25px;">Contaminación de fuentes y recursos hídricos por mal manejo de residuos orgánicos.</p>
    </li>
    <li>
      <p style="font-size: 25px;">Inexistencia de biodigestores en las granjas.</p>
    </li>
    <li>
      <p style="font-size: 25px;">Desperdicio de recursos orgánicos aprovechables (Gas, Abono y Energía).</p>
    </li>
    <li>
      <p style="font-size: 25px;">Emisiones de gases de efecto invernadero.</p>
    </li>
  </ul>
  <div class="row g-3">
    <div class="col-12 col-md-6">
      <img src="/assets/imagenes/porcinaza.png" alt="porcinaza" class="img-fluid">
    </div>
    <div class="col-12 col-md-6">
      <img src="/assets/imagenes/biodigestor.png" alt="biodigestor" class="img-fluid">
    </div>
  </div>
</div>

<hr><br>
<h2><strong>Contaminación porcina al medio ambiente</strong></h2>
<div class="row g-3 zoom-container">
  <div class="col-12 col-md-6">
    <img src="/assets/imagenes/rio contaminado.jpg" alt="rio contaminado" class="img-fluid">
  </div>
  <div class="col-12 col-md-6">
    <img src="/assets/imagenes/GEI porcicultura.jpg" alt="GEI porcicultura" class="img-fluid">
  </div>
</div>
