<div class="card border-success mb-3 w-auto">
  <div class="card-header" style="font-size: 25px;"><strong>OBJETIVOS DE DESARROLLO SOSTENIBLE</strong></div>
  <div class="card-body text-secondary">
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    <img src="../../../assets/imagenes/ODS BioPorc.jpg" alt="Granja" class="img-fluid d-block mx-auto">
  </div>
</div>
<hr>
<br>
<!-- <div class="card border-success mb-3 w-auto">
  <div class="card-header" style="font-size: 25px;"><strong>Aprovechamiento de la porcinaza</strong></div>
  <div class="card-body text-secondary">
    <p class="card-text" style="font-size: 20px;">
      <strong>Basado en estudios de eficiencia de plantas de biogás, la porcinaza puede generar aproximadamente los siguientes porcentajes:</strong>
      <br>
      <br>
      Biogás : Alrededor del 55% de la materia orgánica convertida se destina a biogás, cuyo principal componente es el metano.
      <br>
      <br>
      Digestato (biofertilizante) : Cerca del 35-40% de los residuos orgánicos se convierten en digestato, el cual puede usarse como fertilizante de alto valor para cultivos.
      <br>
      <br>
      Energía eléctrica y térmica : El biogás generado puede ser transformado en energía eléctrica y térmica, pero su aprovechamiento energético varía según la tecnología de conversión utilizada. Generalmente, entre un 5-10% del biogás producido se destina a la generación de estas formas de energía.
      <br>
      <br>
      Estos valores pueden ajustarse según la configuración específica de la planta, el tipo de digestor y las condiciones de operación. Fuentes como el MDPI y estudios sobre plantas de biogás refuerzan estos porcentajes típicos observados en instalaciones que usan estiércol como materia prima</p>
    <img src="../../../assets/imagenes/Torta.jpg" alt="Grafico" class="img-fluid d-block mx-auto">
  </div>
</div> -->

<h2><strong>Basado en estudios de eficiencia de plantas de biogás, la porcinaza puede generar aproximadamente los siguientes porcentajes.</strong></h2>
<p class="card-text" style="font-size: 20px;">

  <br>
  <br>
  <strong>Biogás:</strong> Alrededor del 55% de la materia orgánica convertida se destina a biogás, cuyo principal componente es el metano.
  <br>
  <br>
  Digestato (biofertilizante) : Cerca del 35-40% de los residuos orgánicos se convierten en digestato, el cual puede usarse como fertilizante de alto valor para cultivos.
  <br>
  <br>
  Energía eléctrica y térmica : El biogás generado puede ser transformado en energía eléctrica y térmica, pero su aprovechamiento energético varía según la tecnología de conversión utilizada. Generalmente, entre un 5-10% del biogás producido se destina a la generación de estas formas de energía.
  <br>
  <br>
  Estos valores pueden ajustarse según la configuración específica de la planta, el tipo de digestor y las condiciones de operación. Fuentes como el MDPI y estudios sobre plantas de biogás refuerzan estos porcentajes típicos observados en instalaciones que usan estiércol como materia prima</p>
<img src="../../../assets/imagenes/Torta.jpg" alt="Grafico" class="img-fluid d-block mx-auto" style="margin: 20px;">
<hr><br>
