img{
  border-radius: 10px;
}

@media (max-width: 768px) {
  .d-flex {
    flex-direction: column; /* Cambia a disposición en columna en pantallas pequeñas */
  }
}
@media (max-width:  1500px) {
  .d-flex {
    flex-direction: row; /* Cambia a disposición en columna en pantallas pequeñas */
  }
}
