
<!-- <div class="card border-secondary mb-3 w-auto">
  <div class="card-header" style="font-size: 25px;"><strong>Producción de biogas en funcion del estierciol procesado</strong></div>
  <div class="card-body text-secondary">
    <img src="../../../assets/imagenes/tabla lineal 1.jpg" alt="Tabla 1" class="img-fluid d-block mx-auto">
  </div>
</div>

<div class="card border-secondary mb-3 w-auto">
  <div class="card-header" style="font-size: 25px;"><strong>Producción de biogas vs eficiencia del Biogestor</strong></div>
  <div class="card-body text-secondary">
    <img src="../../../assets/imagenes/tabla lineal 2.jpg" alt="Tabla 2" class="img-fluid d-block mx-auto">
  </div>
</div> -->
<h2><strong>Representaciones de beneficio escalable</strong></h2>
<!-- <div style="display: flex; gap: 10px;">
  <img src="../../../assets/imagenes/tabla lineal 1.jpg" alt="Tabla 1" class="img-fluid " >
  <img src="../../../assets/imagenes/tabla lineal 2.jpg" alt="Tabla 2" class="img-fluid ">
</div> -->
<img src="../../../assets/imagenes/tabla lineal 1.jpg" alt="Tabla 1" class="img-fluid " >
<br>
<br>
<br>

<img src="../../../assets/imagenes/tabla lineal 2.jpg" alt="Tabla 2" class="img-fluid ">
<hr>
<br>



<!-- <div class="card border-secondary mb-3 w-auto">
  <div class="card-header" style="font-size: 25px;"><strong>Granja Porcicultura</strong></div>
  <div class="card-body text-secondary">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <img src="../../../assets/imagenes/Granja.jpg" alt="Granja" class="img-fluid d-block mx-auto">
  </div>
</div> -->

<h2><strong>Representación grafica de una granja tercnificada</strong></h2>
<img src="../../../assets/imagenes/Granja.jpg" alt="Granja" class="img-fluid ">
<hr><br>


<!-- <div class="card border-secondary mb-3 w-auto">
  <div class="card-header" style="font-size: 25px; "><strong>Modelo de negocio.</strong></div>
  <div class="card-body text-secondary">
    <img src="../../../assets/imagenes/Modelo de negocio.png" alt="Biodigestores" class="img-fluid d-block mx-auto">
  </div>
</div> -->

<h2><strong>Modelo de negocio estimado de BioPorc</strong></h2>
<img src="../../../assets/imagenes/Modelo de negocio.png" alt="Biodigestores" class="img-fluid ">
<hr><br>

