<!-- <div class="card border-success mb-3 w-auto">
  <div class="card-header" style="font-size: 25px;"><strong>Transformacion del Biogas a Energía electrica</strong></div>
  <div class="card-body text-secondary">
    <img src="../../../assets/imagenes/Transformacion.png" alt="Granja" class="img-fluid d-block mx-auto">
    <p class="card-text" style="font-size: 25px;"><strong>Economía circular</strong></p>
    <ul>
      <li>
        <p class="card-text" style="font-size: 25px;">Suministro energético independiente para la granja y su sistema de calefacción</p>
      </li>
    </ul>
    <p class="card-text" style="font-size: 25px;"><strong>Oportunidades de negocio:</strong></p>
    <ul>
      <li>
        <p class="card-text" style="font-size: 25px;">Suministro doméstico domiciliario.</p>
      </li>
      <li>
        <p class="card-text" style="font-size: 25px;">Aporte al suministro energético local (Apoyo a comunidades de bajos recursos).</p>
      </li>
    </ul>
  </div>
</div> -->
<h2><strong>Sistema completo y producción</strong></h2>
<p class="card-text" style="font-size: 25px;">La transformación de residuos en
  energía es una solución innovadora para reducir el impacto ambiental y
  aprovechar los recursos disponibles de manera eficiente. Este proceso comienza
  con la recolección de porcinaza, los residuos orgánicos generados por la cría
  de cerdos, que se llevan a una planta de biogás.

  En la planta, los residuos se someten a un proceso de descomposición
  controlada para generar biogás y digestato. El biogás es un combustible limpio
  que se puede utilizar para la generación de calor y electricidad a través de
  sistemas de cogeneración, lo que contribuye al abastecimiento de energía para
  el consumo doméstico y industrial.</p>
<br>
<p class="card-text" style="font-size: 25px;">
  Por otro lado, el digestato se separa en dos fracciones útiles:
</p>
<ul>
  <li>
    <p class="card-text" style="font-size: 25px;">
      <strong>La fracción líquida</strong>, que se emplea como fertilizante
      natural para enriquecer los suelos agrícolas.
    </p>
  </li>
  <li>
    <p class="card-text" style="font-size: 25px;">
      <strong>La fracción sólida</strong>, que se transforma en compost,
      promoviendo la fertilidad de la tierra de manera sostenible.
    </p>
  </li>
</ul>
<br>
<p class="card-text" style="font-size: 25px;">Además, el biogás puede someterse
  a un proceso de upgrading para purificarlo y convertirlo en biometano. Este
  biometano puede ser inyectado directamente en la red de gas, o transportado
  mediante gasoductos virtuales para ser utilizado como combustible en el sector
  del transporte, contribuyendo así a una movilidad más limpia y reduciendo las
  emisiones de gases de efecto invernadero.

  Gracias a este proceso, los residuos dejan de ser un problema y se convierten
  en una valiosa fuente de energía renovable, apoyando la transición hacia un
  futuro más sostenible.

</p>
<img src="../../../assets/imagenes/grafico sistema.jpg" alt="Granja"
  class="img-fluid " >
<hr>
<br>

<h2><strong>Obtencion energetica del biogas</strong></h2>
<img src="../../../assets/imagenes/Transformacion.png" alt="Granja"
  class="img-fluid">
<p class="card-text" style="font-size: 25px;"><strong>Economía
    circular</strong></p>
<ul>
  <li>
    <p class="card-text" style="font-size: 25px;">Suministro energético
      independiente para la granja y su sistema de calefacción</p>
  </li>
</ul>
<p class="card-text" style="font-size: 25px;"><strong>Oportunidades de
    negocio:</strong></p>
<ul>
  <li>
    <p class="card-text" style="font-size: 25px;">Suministro doméstico
      domiciliario.</p>
  </li>
  <li>
    <p class="card-text" style="font-size: 25px;">Aporte al suministro
      energético local (Apoyo a comunidades de bajos recursos).</p>
  </li>
</ul>
<hr>
<br>
<!-- <div class="card border-success mb-3 w-auto">
  <div class="card-header" style="font-size: 25px;"><strong>Digestato</strong></div>
  <div class="card-body text-secondary">
    <img src="../../../assets/imagenes/digestato.jpg" alt="Granja" class="img-fluid d-block mx-auto" style="height: 500px;">
    <p class="card-text" style="text-align: center;">Muestra de digestato y su aspecto.</p>
    <p class="card-text" style="font-size: 25px;"><strong>Economía circular</strong></p>
    <ul>
      <li>
        <p class="card-text" style="font-size: 25px;">Suministros independientes de abono para iniciar un ciclo de agricultura.</p>
      </li>
    </ul>
    <p class="card-text" style="font-size: 25px;"><strong>Oportunidades de negocio:</strong></p>
    <ul>

      <li>
        <p class="card-text" style="font-size: 25px;">Suministro de abono para empresas de interés</p>
      </li>
      <li>
        <p class="card-text" style="font-size: 25px;">Aporte al comercio local para los agricultores locales.</p>
      </li>
    </ul>
  </div>
</div> -->

<h2><strong>Presentacion del digestato.</strong></h2>
<!-- <div style="display: flex; gap: 10px;">
  <img src="../../../assets/imagenes/digestato.jpg" alt="Granja"
    class="img-fluid " style="height: 500px;">
  <img src="../../../assets/imagenes/digestatoPresentacion.png" alt="Granja"
    class="img-fluid " style="height: 500px;">
</div> -->
<img src="../../../assets/imagenes/digestato.jpg" alt="Granja"
  class="img-fluid " style="height: 500px;">
  <br><br>
<img src="../../../assets/imagenes/digestatoPresentacion.png" alt="Granja"
  class="img-fluid " style="height: 500px;">

<p class="card-text" style="text-align: center;">Muestra de digestato y su
  aspecto.</p>
<p class="card-text" style="font-size: 25px;"><strong>Economía
    circular</strong></p>
<ul>
  <li>
    <p class="card-text" style="font-size: 25px;">Suministros independientes de
      abono para iniciar un ciclo de agricultura.</p>
  </li>
</ul>
<p class="card-text" style="font-size: 25px;"><strong>Oportunidades de
    negocio:</strong></p>
<ul>

  <li>
    <p class="card-text" style="font-size: 25px;">Suministro de abono para
      empresas de interés</p>
  </li>
  <li>
    <p class="card-text" style="font-size: 25px;">Aporte al comercio local para
      los agricultores locales.</p>
  </li>
</ul>

<hr>
<br>
<!-- <div class="card border-success mb-3 w-auto">
  <div class="card-header" style="font-size: 25px;"><strong>Biogas para uso doméstico</strong></div>
  <div class="card-body text-secondary">
    <img src="../../../assets/imagenes/biogas cocina.jpg" alt="Granja" class="img-fluid d-block mx-auto" style="height: 500px;">
    <p class="card-text" style="font-size: 25px;"><strong>Economía circular</strong></p>
    <ul>
      <li>
        <p class="card-text" style="font-size: 25px;">Suministros independientes de biogas para uso independiete o propio</p>
      </li>
    </ul>
    <p class="card-text" style="font-size: 25px;"><strong>Oportunidades de negocio:</strong></p>
    <ul>

      <li>
        <p class="card-text" style="font-size: 25px;">Suministro de Biogas para empresas de interés</p>
      </li>
      <li>
        <p class="card-text" style="font-size: 25px;">Aporte al comercio local de biogas</p>
      </li>
    </ul>
  </div>
</div> -->

<h2><strong>Ejemplo del Biogas para uso domestico</strong></h2>
<img src="../../../assets/imagenes/biogas cocina.jpg" alt="Granja"
  class="img-fluid" style="height: 500px;">
<p class="card-text" style="font-size: 25px;"><strong>Economía
    circular</strong></p>
<ul>
  <li>
    <p class="card-text" style="font-size: 25px;">Suministros independientes de
      biogas para uso independiete o propio</p>
  </li>
</ul>
<p class="card-text" style="font-size: 25px;"><strong>Oportunidades de
    negocio:</strong></p>
<ul>

  <li>
    <p class="card-text" style="font-size: 25px;">Suministro de Biogas para
      empresas de interés</p>
  </li>
  <li>
    <p class="card-text" style="font-size: 25px;">Aporte al comercio local de
      biogas</p>
  </li>
</ul>

<br>
<br>
